
    <div class="profile">
        <h2><span><img src="./images/l.gif" alt="" ui-sref="personal"/></span>Profile<i><img src="./images/s.gif" alt=""/></i></h2>
        <img src="./images/profile1_5.png" alt="" class="profile-img" ui-sref="edit"/>
        <ul class="profile-ul">
            <li>
                158K
                <p>FOLLOWERS</p>
            </li>
            <li>
                John Fredson
                <p>Writter</p>
            </li>
            <li>
                25K
                <p>FOLLOWINC</p>
            </li>
        </ul>
        <button class="profile-but" ui-sref="Social_search">FOLLOW +</button>
        <div class="profile-Photo">
            <li>
                <img src="./images/profile2_1.png" alt=""/>
                <img src="./images/profile2_2.png" alt=""/>
            </li>
            <li>
                <img src="./images/profile2_3.png" alt=""/>
                <img src="./images/profile2_4.png" alt=""/>
            </li>
        </div>
    </div>
