<div class="Signin">
    <div class="home-div"></div>
    <h2>Avital<p>Mobile UI Kit</p></h2>
    <ul class="Signin-ul">
        <li><input type="text" value="" placeholder="E-mail"/></li>
        <li><input type="text" value="" placeholder="Password"/></li>
    </ul>
    <button class="Signin-but home-but" ui-sref="personal">LOGIN NOW -></button>
    <div class="Signin-div">
        <span>Facebook</span><span ui-sref="register">Coogle+</span>
    </div>
    <p class="Signin-p">Dont have an ancount?</p>
</div>